
/* CONTACT */   
#contact{
    display: block;
    width: 100%;
    background-color: var(--gray);
    border-radius: 5px;
    padding: .5rem;
    font-size: var(--lg);
    margin: 5px auto;
}
.contact-header, .contact-body{
    display: block;
    width: 50%;
    margin: 10px auto;
}
.contact-email > input, 
.contact-msg, 
.contact-button{
    border: 2px solid var(--dark);
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    display: block;
    width: 100%;
}
.contact-msg{
    min-height: 80px;
}
.contact-email > input:focus, 
.contact-msg:focus{
    outline: none;
    border: 2px solid var(--blue-2);
}
.contact-button{
    color:var(--white);
    background-color: var(--dark);
    padding: 10px;
    font-size: var(--lg);
    font-weight: bold;
}
.contact-button:hover{
    background-color:var(--blue-2);
    border: 2px solid var(--blue-2);
}

/* contact message */
.contact-message{
    width: 50%;
    margin: 50px auto;
    padding: 50px;
    border-radius: 5px;
    background-color: var(--white);
}
.contact-message h2 img{
    width: 20px;
    height: auto;
    margin-right: 5px;
}

/* 
.contact-email{
    position: relative;
}
.contact-email .list{
    position: absolute;
    top:15px;
    right: 3px;
    background-color: var(--white);
    display: block;
    list-style: none;
    padding-left: 0;
    width: 250px;
    font-size: 14px;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 100;
}
#contact .list li{
    border-bottom: 1px solid #d4d4d4;
    padding:3px 10px;
    cursor: pointer;
}
#contact .list li:last-child{
    border-bottom: none;
}
#contact .list li.active, #contact .list li:hover{
    font-weight: bold;
    background-color: rgba(0,0,0,.1);
} */


/* @media screen and (max-width:767px){
    #contact{
        width: 400px;
    } 
}
@media screen and (max-width:768px) and (min-width:991px){
    #contact{
        width: 600px;
    } 
}
@media screen and (min-width:992px){
    #contact{
        width: 900px;
    } 
} */