.body-dark-mode {
    background-color: var(--dark) !important;
}
.body-dark-mode h2 {
    color: var(--white);
}
.header-dark-mode a {
    color: var(--white);
}
.header-dark-mode a:hover{
    color: var(--blue-hover) !important;
}

/* CONTACT */
.contact-dark-mode {
    background-color: var(--dark) !important;
}
.contact-dark-mode .contact-title {
    color: var(--white) !important;
}
.contact-dark-mode .contact-button {
    background-color: var(--white) !important;
    color: var(--dark) ;
}
.contact-dark-mode .contact-button:hover{
    background-color: var(--blue-hover) !important;
    color: var(--white);
}


/* USER CONFIG */
.conf-dark-mode .conf-icon:hover{
    border: 1px solid rgba( 255, 255, 255, .1);
} 


/* Fix h2 of post description */
.post-description-title h2{
    color: var(--dark) !important;
}