@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('error.css');
@import url('loader.css');
@import url('posts.css');
@import url('contact.css');
@import url('search.css');

html{
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    --blue:#01579b;
    --blue-2:#00b0ff;
    --dark:#343a40;
    --white:#e5e5e5;
    --grey:rgba(0,0,0,.6);
    --lg:16px;
    --md:14px;
    --sm:12px:
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    margin:0;
    overflow-x: hidden;
    background-color: var(--white);
}

a{
    color:var(--blue);
    transition: .3s color ease;
    text-decoration: none;
   
}

a:hover{
    color:var(--blue-2);
}

h1, h2{
    text-align: center;
}

img{
    width: 100%;
    height: auto;
}

.d-none{
    display: none !important;
}


/* HEADER */
.menu{
    display: block;
    text-align: center;
    margin-top:30px;
}
.header .menu a{
    text-decoration: none;
    margin:10px;
    font-size: 14px;
    
}
.header .menu a.active{
    cursor:default;
    color:var(--blue-2);
    font-size: 16px !important;
    pointer-events: none;
}

#search, #main{
    padding-top: 10px;
    margin-top: 30px;
}

