/* POSTS */
:root{
    --width-card: 300px;
}
#main{
    margin:1rem auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--width-card));
    gap: 7px;
    justify-content: center;
}
.post{
    width: var(--width-card);
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.post-image{
    width: var(--width-card);
    height: calc(var(--width-card)/1.5);
    overflow: hidden;
}
.post-title{
    margin:10px 15px;
    display: block;
    text-align: center;
    color: var(--dark);
    font-weight: bold;
    font-size: var(--lg);
}
.post img{
    display: block;
    margin: auto;
    width: var(--width-card);
    height: calc(var(--width-card)/1.5);
    object-fit: cover;
    transition: 1s all ease;
}
.post-info{
    display: flex;
    justify-content: space-between;
    margin:5px 10px;
    font-size: var(--md);
}
.post-info time{
    color:var(--grey);
}

.post:hover{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.post:hover img{
    transform: scale(1.1);
}

.post:hover .post-link{
    font-weight: bold;
}



/*  IF GO TO PUBLICATION */
.post-description{
    background-color: white;
    margin:10px auto;
    border-radius: 10px;
    max-width: 1200px;
    padding: 0.5rem;
}

.post-description aside h2{
    text-align: center;
}

.post-description aside time{
    color:var(--grey);
    font-size: 14px;
}

.post-description hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 90%;
}

.post-description article{
    margin: 30px 20px;
}

pre{
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--white);
    padding: 5px;
    border-radius: 5px;
}

