.search{
    text-align: center;
    margin: 0 auto;
    position: relative;
    padding-top: 10px;
    margin-top: 30px;
}
.search input{
    width: 100%;
    border: 2px solid var(--dark);
    padding: 10px 40px 10px 15px;
    border-radius: 20px;
    color:var(--dark);
    font-style: italic;
    transition: .3s all ease;
}
.search button{
    position: absolute;
    top: 15px;
    right: 6px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: var(--dark);
    color: var(--white);
    transition: .5s all ease;
    font-size: var(--lg);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search input:focus{
    outline: none;
    border: 2px solid var(--blue-2);
    font-style: normal;
}
.search input:focus + button{
    background-color: var(--blue-2);
    top: 15px;
}
.search-icon{
    max-width: 16px;
}

@media screen and (max-width:575px){
    .search{
        width: 80%;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    .search{
        width: 50%;
    }
}
@media screen and (min-width:768px) and (max-width:1999px){
    .search{
        width: 50%;
    }
}
@media screen and (min-width:1200px){
    .search{
        width: 40%;
    }
}